.card {
    width: 250px;
    height: 150px;
    border: 2px solid green;
    padding: 20px;
    margin: 60px 30px;
    color: green;
    display: inline-block;
  }
  .card p:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid red;
  }
  input {
    float: right;
  }
  .card.border {
    border: none;
    border-radius: 5px;
    background-color: pink;
  }
