.header {
    text-align: center;
    border: 2px solid blue;
}

.header button {
    background-color: blue;
    letter-spacing: 1px;
    position: relative;
    left: 400px;
}

span.badge {
    background-color: white;
    color: black;
    padding: 3px 6px;
    border-radius: 4px;
    margin-left: 5px;
}
